* {
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans";
}

.column1 {width: 8.33%;}
.column2 {width: 16.66%;}
.column3 {width: 25%;}
.column4 {width: 33.33%;}
.column5 {width: 41.66%;}
.column6 {width: 50%;}
.column7 {width: 58.33%;}
.column8 {width: 66.66%;}
.column9 {width: 75%;}
.column10 {width: 83.11%;}
.column11 {width: 91.66%;}
.column12 {width: 100%;}

div[class*="column"] {float:left; 
	padding: 15px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

.row:after ,.clearfix:after {
	content:""; 
	display: block; 
	clear: both;}

.pull-right {float:right}  
.pull-left {float:left}

body {
	margin: 0 auto;
	width: 1280px;
}
.container {
	width: 1090px;
	margin: 0 auto;
}
.up {
	text-transform: uppercase;
}