* {
	margin: 0;
	padding: 0;
}

.column1 {width: 8.33%;}
.column2 {width: 16.66%;}
.column3 {width: 25%;}
.column4 {width: 33.33%;}
.column5 {width: 41.66%;}
.column6 {width: 50%;}
.column7 {width: 58.33%;}
.column8 {width: 66.66%;}
.column9 {width: 75%;}
.column10 {width: 83.11%;}
.column11 {width: 91.66%;}
.column12 {width: 100%;}

div[class*="column"] {float:left; 
	padding: 15px; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

.row:after ,.clearfix:after {
	content:""; 
	display: block; 
	clear: both;}

.pull-right {float:right;}  
.pull-left {float:left;}

body {
	margin: 0 auto;
	width: 1280px;
	font-family: 'Source Sans Pro', sans-serif;
}
.container {
	margin: 0 auto;
	width: 1090px;
}
a {
	text-decoration: none;
}

.up {
	text-transform: uppercase;
}
.heading {
	font-size: 24px;
	color: #16a085;
	font-weight: bold;
	margin-top: 125px;
	width: 385px;
}
.main-text p, .design-text p {
	font-size: 12px;
	width: 455px;
	letter-spacing: 4px;
	margin: 50px 0;
}

.btn {
	width: 190px;
	height: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 2px;
	background-color: #16a085;
	padding: 20px 45px;
	border-radius: 5px;
}

.page-header {
	height: 745px;
	background-image: url(../image/fon1.jpg);
}
.page-header-btn {
	position: relative;
	top: 70px;
	left: 445px;
}
.page-header-title h1, .page-header-title p {
	color: #fff;
} 
.page-header-title h1 {
	letter-spacing: 7px;
	margin-left: 320px;
}
.page-header-title p {
	letter-spacing: 4px;
	margin-left: 400px;
	font-size: 13px;
}
.page-header-nav {
	margin-bottom: 180px;
}
.page-header-soc {
	display: inline-block;
}
.twit {
	background-image: url(../image/nav-bar-tw.png);
	
}
.main {
	height: 494px;
	background-image: url(../image/fon-hand-phone.png);
}
.design {
	height: 558px;
	background-image: url(../image/fon-d.png);
	position: relative;
}
.main-text:after {
	content: "";
	display: inline-block;
	background-image: url(../image/Hand.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	width: 644px;
	height: 701px;	
	top: 825px;
	left: 620px;
}
.design:before {
	content: "";
	display: inline-block;
	background-image: url(../image/phone3.png);
	-webkit-background-size: 100%;
	background-size: 100%;
	position: absolute;
	width: 314px;
	height: 617px;	
	left: 90px;
	top: 130px;
}
.community {
	height: 483px;
	background-image: url(../image/fon4.png);
	position: relative;
}
.community-text {
	width: 190px;
	text-align: center;
	margin: 160px 50px 120px 0;
}
.community-text p {
	font-size: 10px;
	letter-spacing: 3px;
	padding-top: 20px;
}
.community-text h3{
	font-size: 24px;
	font-weight: bold;
	padding-top: 20px;
}
.community-img {
	margin: 120px 30px 120px 20px;
}
.subCom {
	height: 790px;
	background-image: url(../image/fon5.jpg);
	position: relative;
}
.subCom h2 {
	font-size: 28px;
	color: #fff;
	text-align: center;
	padding-top: 340px;
}
input {
	
}
input[type="text"] {
	font-size: 18px;
	color: #444444;
	padding: 0 20px;
	margin: 0;
	
}
input[type="submit"] {
	background-color: #16a085;
	font-size: 18px;
	margin: 0;
	
	cursor: pointer;
}
.download {
	height: 396px;
	background-image: url(../image/fon6.png);
	
}
.page-footer {
	height: 130px;
	background-color: #fff;
}